.ty-login-form
  form(ng-submit="submit()")
    input(
      type='email'
      placeholder="Your email address"
      ng-model="formData.email")

    input(
      type='password'
      placeholder="Your password"
      ng-model='formData.password')

    .u-spacer
    button.button.button--primary.loginSubmit#login(type='submit') Login   
    
    .u-spacer
    .errors(ng-show='errors.login') {{errors.login}}
