.ty-login-form
  form(ng-submit="submit()")
    input(
      type='email'
      placeholder="Your email address"
      ng-model="formData.email")

    input(
      type='password'
      placeholder="Your password"
      ng-model='formData.password')

    button.loginSubmit#login(type='submit') Login   
