.tyPlayer
  // youtube-video(
  //   video-id="track.sourceId"
  //   player-width="1"
  //   player-height="1"
  //   player="youtubePlayer"
  //   player-vars="playerVars")


  // a.fa.fa-volume-up(ng-click='mute(youtubePlayer)' ng-show='!muted')
  // a.fa.fa-volume-off(ng-click='unMute(youtubePlayer)' ng-show='muted')
  // .spacer
  // | {{ currentTrack.title }}

  iframe(
    id="sc-widget"
    src="https://w.soundcloud.com/player?url=https://api.soundcloud.com/tracks/39804767"
    width="480"
    height="195"
    scrolling="no"
    frameborder="no")
